<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Catálogo de Jogos</title>
  <style>

  </style>
<link rel="stylesheet" href="static/css/homePage.css">
</head>
<body>
<div class="center-text">
  <h1 id="homePageTitle">Catálogo de Jogos</h1>
</div>

  <div id="formContainer"></div>

  <table id="gamesTable">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Plataforma</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <!-- Jogos adicionados aparecerão aqui -->
    </tbody>
  </table>

  <script src="static/js/gameCatalog.js"></script>

</body>
</html>
